<cdk-virtual-scroll-viewport
    [itemSize]="$pins().length"
    class="viewport"
    (scrolledIndexChange)="onScroll($event)"
>
    @switch ($resource.status()) { @case (4) {
        <div class="gallery">
            <ng-container *cdkVirtualFor="let pin of $pins()">
                <app-gallery-item [$item]="pin" />
            </ng-container>
        </div>
    } @case (2) {
    <app-skeleton />
    } @case (1) {
    <div>Error: {{ $resource.error() | json }}</div>
    } }
    @if ($isLoadingMore()) {
    <h4>Loading more pins...</h4>
    }
</cdk-virtual-scroll-viewport>
