@let resource = $resource;

@switch (resource.status()) {
    @case (2) {
        <div>Cargando...</div>
    } @case (1) {
        <div>
            Ha ocurrido un error: {{ resource.error() || 'Error desconocido' }}
        </div>
    } @case (4) {
        @let pin = resource.value();

        @if (pin) {
            <div class="postPage">
                <svg
                    height="20"
                    viewBox="0 0 24 24"
                    width="20"
                    style="cursor: pointer"
                    (click)="goBack()"
                >
                    <path
                        d="M8.41 4.59a2 2 0 1 1 2.83 2.82L8.66 10H21a2 2 0 0 1 0 4H8.66l2.58 2.59a2 2 0 1 1-2.82 2.82L1 12z"
                    ></path>
                </svg>
                <div class="postContainer">
                    <div class="postImg">
                        <app-image [$src]="pin.media" [$alt]="''" [$width]="736" [$height]="568" />
                    </div>
                    <div class="postDetails">
                        <app-post-interactions [$postId]="pin._id" />
                        <a
                            [routerLink]="['/', pin.user.username]"
                            class="postUser"
                        >
                            <app-image
                                [$src]="
                                    pin.user.img ||
                                    '/general/noAvatar.png'
                                "
                                [$alt]="''"
                            />
                            <span>{{ pin.user.displayName }}</span>
                        </a>
                        <app-comments [$id]="pin._id" />
                    </div>
                </div>
            </div>
        } @else {
            <div>¡Pin no encontrado!</div>
        }
    }
}