.options {
    flex: 1;
    margin-top: 32px;
}

.editingOption {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 16px;
}

.editingOption span {
    font-weight: 500;
}

.editingOption input {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 16px;
}

.textColor,
.bgColor {
    position: relative;
}

.colorPreview {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    cursor: pointer;
}

.colorPicker {
    position: absolute;
    top: 120%;
    left: 0;
}

.orientations,
.sizes {
    padding: 4px;
    border-radius: 8px;
    background-color: #e9e9e9;
    display: flex;
    font-size: 14px;
    font-weight: 500;
    width: max-content;
}

.orientation,
.size {
    padding: 8px;
    border-radius: 8px;
    min-width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.orientation.selected,
.size.selected {
    background-color: white;
}
