.comments {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 16px;
	min-height: 0;
}

.commentList {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 16px;
	overflow-y: auto;
}

::ng-deep app-comment .comment {
	display: flex;
	gap: 16px;
}

::ng-deep app-comment .comment ::ng-deep app-image img {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	object-fit: cover;
}

::ng-deep app-comment .commentContent {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

::ng-deep app-comment .commentUsername {
	font-weight: 500;
	font-size: 14px;
}

::ng-deep app-comment .commentText {
	font-size: 14px;
}

::ng-deep app-comment .commentTime {
	font-size: 12px;
	color: #a6a6a6;
}

::ng-deep app-comment-form .commentForm {
	background-color: #f1f1f1;
	padding: 16px;
	border-radius: 32px;
	display: flex;
	align-items: center;
	gap: 16px;
}

::ng-deep app-comment-form .commentForm input {
	flex: 1;
	border: none;
	outline: none;
	background-color: transparent;
	font-size: 16px;
}

::ng-deep app-comment-form .emoji {
	cursor: pointer;
	font-size: 20px;
	position: relative;
}

::ng-deep app-comment-form .emojiPicker {
	position: absolute;
	right: 0;
	bottom: 50px;
}
