@if ($loading()) {
    <div>Cargando...</div>
}

@if ($error()) {
    <div>
        Ha ocurrido un error: {{ $error()  }}
    </div>
}

@if ($comments()) {
    <div class="comments">
        <div class="commentList">
            <span class="commentCount">
                {{ $comments()?.length === 0 ? 'No comments' : $comments()?.length + ' Comments'}}
            </span>
            @for (comment of $comments(); track comment._id) {
                <app-comment [$comment]="comment" />
            }
        </div>
        <app-comment-form [$id]="$id()" ($reloadComments)="listenReloadComments()" />
    </div>
}